body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
.container{
    width: 500px;
    margin: auto;
    margin-top: 40px;
}
h1{
    text-align: center;   
}
.form-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.form-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: steelblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    opacity: 0.9;
}
.delete-btn{
    background-color: red;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.student-card{
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid steelblue;
    border-radius: 5px;
}